<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ir</key>
	<dict>
		<key>nome masculino</key>
		<dict>
			<key>plural</key>
			<string>aos</string>
			<key>sing</key>
			<string>ao</string>
			<key>singular</key>
			<string>ao</string>
		</dict>
		<key>pronome</key>
		<dict>
			<key>Feminino singular</key>
			<string>com</string>
			<key>Feminino plural</key>
			<string>com</string>
			<key>Masculino singular</key>
			<string>com</string>
			<key>Masculino plural</key>
			<string>com</string>
		</dict>
		<key>verbo</key>
		<dict>
			<key>Infinitivo</key>
			<string>null</string>
		</dict>
		<key>nome feminino</key>
		<dict>
			<key>singular</key>
			<string>à</string>
			<key>sing</key>
			<string>à</string>
			<key>plural</key>
			<string>às</string>
		</dict>
	</dict>
</dict>
</plist>
