<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gostar</key>
	<dict>
		<key>eu</key>
		<string>mim</string>
		<key>tu</key>
		<string>ti</string>
		<key>ele</key>
		<string>dele</string>
		<key>eles</key>
		<string>deles</string>
		<key>ela</key>
		<string>dela</string>
		<key>elas</key>
		<string>delas</string>
		<key>você</key>
		<string>você</string>
		<key>nós</key>
		<string>nós</string>
		<key>vós</key>
		<string>vós</string>
	</dict>
	<key>pensar</key>
	<dict>
		<key>eu</key>
		<string>mim</string>
		<key>tu</key>
		<string>ti</string>
		<key>ele</key>
		<string>nele</string>
		<key>ela</key>
		<string>nela</string>
		<key>você</key>
		<string>você</string>
		<key>nós</key>
		<string>nós</string>
		<key>vós</key>
		<string>vós</string>
		<key>eles</key>
		<string>neles</string>
		<key>elas</key>
		<string>nelas</string>
	</dict>
	<key>ter</key>
	<dict>
		<key>eu</key>
		<string>mim</string>
		<key>tu</key>
		<string>ti</string>
		<key>ele</key>
		<string>ele</string>
		<key>ela</key>
		<string>ela</string>
		<key>você</key>
		<string>você</string>
		<key>nós</key>
		<string>nós</string>
		<key>vós</key>
		<string>vós</string>
		<key>eles</key>
		<string>eles</string>
		<key>elas</key>
		<string>elas</string>
	</dict>
	<key>dizer</key>
	<dict>
		<key>eu</key>
		<string>mim</string>
		<key>tu</key>
		<string>ti</string>
		<key>ele</key>
		<string>ele</string>
		<key>ela</key>
		<string>ela</string>
		<key>você</key>
		<string>você</string>
		<key>nós</key>
		<string>nós</string>
		<key>vós</key>
		<string>vós</string>
		<key>New item - 8</key>
		<string></string>
		<key>New item - 9</key>
		<string></string>
	</dict>
	<key>dar</key>
	<dict/>
	<key>saber</key>
	<dict/>
	<key>imprimir</key>
	<dict/>
	<key>disponibilizar</key>
	<dict/>
	<key>estacionar</key>
	<dict/>
</dict>
</plist>
