<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gostar</key>
	<dict/>
	<key>pensar</key>
	<dict/>
	<key>ter</key>
	<dict/>
	<key>dizer</key>
	<dict/>
	<key>dar</key>
	<dict/>
	<key>saber</key>
	<dict/>
	<key>imprimir</key>
	<dict/>
	<key>disponibilizar</key>
	<dict/>
	<key>estacionar</key>
	<dict/>
	<key>fotografar</key>
	<dict/>
	<key>ditar</key>
	<dict/>
	<key>prevalecer</key>
	<dict/>
	<key>derramar</key>
	<dict/>
	<key>garantir</key>
	<dict/>
	<key>votar</key>
	<dict/>
	<key>vender</key>
	<dict/>
	<key>valorizar</key>
	<dict/>
	<key>ultrapassar</key>
	<dict/>
	<key>calcular</key>
	<dict/>
	<key>cantar</key>
	<dict/>
	<key>emprestar</key>
	<dict/>
	<key>encontrar</key>
	<dict/>
	<key>enrolar</key>
	<dict/>
	<key>assumir</key>
	<dict/>
	<key>preferir</key>
	<dict/>
	<key>entender</key>
	<dict/>
	<key>favorecer</key>
	<dict/>
	<key>filmar</key>
	<dict/>
	<key>gravar</key>
	<dict/>
	<key>imaginar</key>
	<dict/>
	<key>incluir</key>
	<dict/>
	<key>indicar</key>
	<dict/>
	<key>investigar</key>
	<dict/>
	<key>julgar</key>
	<dict/>
	<key>narrar</key>
	<dict/>
	<key>obrigar</key>
	<dict/>
	<key>escutar</key>
	<dict/>
	<key>parar</key>
	<dict/>
	<key>acenar</key>
	<dict/>
	<key>sustentar</key>
	<dict/>
	<key>surpreender</key>
	<dict/>
	<key>salvar</key>
	<dict/>
	<key>roubar</key>
	<dict/>
	<key>prejudicar</key>
	<dict/>
	<key>acreditar</key>
	<dict/>
</dict>
</plist>
